:root{
  --primaryBG: grey;
  --secondaryBG: rgb(185, 185, 185);

  --primaryBG-dark: #443953;
  --secondaryBG-dark: #5633d2;
  --primaryBG-normal: grey;
  --secondaryBG-normal: rgb(185, 185, 185);
}

@font-face {
  font-family: "windows95";
  font-style: normal;
  font-weight: normal;
  src: url("/src/fonts/W95FA.otf");
}

@media (max-width: 767px) {
  .leftSide{
    display: none;
  }
  .rightSide{
    display: none;
  }
  .middleContent{
    margin-left: 40px;
  }
}

body {
  margin: 0;
  font-family: windows95;
  font-weight: normal;
  background-color: var(--primaryBG);
}

h1, h2, h3, h4 {
  margin:0px;
}
.row{
  display:flex;
  flex-direction: row; 
}
.pointer:hover{
  cursor: pointer;
}
.title_link{
  text-decoration: underline;
  transition : .4s;
}
.title_link:hover{
  transform: translateY(-3px);
}
.icon{
  height:20px;
  margin-right:7px;
  transition-duration: .5s;
}
.icon:hover{
  cursor: pointer;
  transform: translateY(-3px);
}
a{
  color: inherit;
}
p{
  font-size: 1.2rem;
  font-weight: bold;
}