:root{
  --primaryBG: grey;
  --secondaryBG: rgb(185, 185, 185);

  --primaryBG-dark: #443953;
  --secondaryBG-dark: #5633d2;
  --primaryBG-normal: grey;
  --secondaryBG-normal: rgb(185, 185, 185);
}

@font-face {
  font-family: "windows95";
  font-style: normal;
  font-weight: normal;
  src: url("/src/fonts/W95FA.otf");
}

body {
  margin: 0;
  font-family: windows95;
  font-weight: normal;
  background-color: var(--primaryBG);
}

h1, h2, h3, h4 {
  margin:0px;
}